@charset "utf-8";
@import '../core/reset.scss';

:local(.list){
	background: #fff;
	@include flex();
	@include flexbox();
	@include flex-direction(column);
	height:100vh;
	width:100%;
	>*{
		width: 100% !important;
		font-size: 0.14rem;
	}
	.header{
		height: 0.5rem;
		background: #dfdfdf;
		@include flexbox();
		@include justify-content(center);
		@include align-items(center);
		.search{
			height: 0.35rem;
			width: 72%;
			background:url(/images/search_yy.jpg) no-repeat 3% center #fff;
			background-size: 8% auto;
		}
	}
	.section{
		@include flex();
		@include flexbox();
		@include flex-direction(column);
		>*{
			width: 100% !important; font-size: 0.14rem;
		}
		.tab{
			@include flexbox();
			height:0.5rem;
			li{
				width: 50%;
				height: 100%;
				text-align: center;
				line-height: 0.5rem;
				color: #5d5d5d;				
			}
		}
		:global(#swiper){
			@include flex();
			:global(.swiper-slide){
				height: 100%;
				overflow-y: scroll;
				ul{
				    width: 100%;
				    @include flexbox();
				    @include flex-wrap(wrap);
				}
			}
		}
		:global(.swiper-scrollbar){
			background: #fff;
			top: -0.03rem 
			:global(.swiper-scrollbar-drag){
				background: #f14f5b;
			}
		}
	}
}
