@charset "utf-8";
@import '../core/reset.scss';

:local(.tabli){
    width: 33%;
    height: 1.3rem;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-around);
    @include align-items(center);
    div{
        width: 67%;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }
}
